[user]
	name = Jesse Clark
	email = jesse@jesseclark.com
[color]
	ui = true
[push]
	default = simple
	autoSetUpRemote = true
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[core]
	excludesfile = /Users/jesse/.gitignore
	editor = vim
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
